.note-key__container {
    position: absolute;
    z-index: 1;
    height: 100%;
    top: 0;
    left: 0;
}

.note-key__container svg {
    width: 100%;
    height: 100%;
}

.note-key__container--treble {
    left: -2%;
}

.note-key__container--bass {
    height: 50%;
    top: 13%;
    left: 13%;
}
