.field {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.field__image {
    display: flex;
    aspect-ratio: 400 / 204;
    max-width: 400px;
    max-height: 204px;
    width: 100%;
    position: relative;
}

.field__lines {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.field__lines svg {
    width: 100%;
    height: 100%;
}
