.start-screen {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 20px;
}

.start-screen__container {
    max-width: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    padding: 20px;
    border: 2px solid #dddddd;
    border-radius: 5px;
    box-shadow: -5px 6px 20px 0 #504c1326;
    background: #ffffff;
}

.start-screen__title {
    text-align: center;
    font-weight: 500;
    width: 100%;
    border-bottom: 1px solid #dddddd;
    padding-bottom: 16px;
}

.start-screen__q-count {
    display: flex;
    flex-direction: column;
    gap: 8px;
    min-width: 250px;
}

.start-screen__octave-button,
.start-screen__q-count-button,
.start-screen__q-count-input {
    outline: none;
    padding: 10px;
    border: 2px solid #dddddd;
    background: white;
    cursor: pointer;
    transition: all 0.3s;
}

@media (hover: hover) {
    .start-screen__octave-button:hover,
    .start-screen__q-count-button:hover {
        border-color: #007acc;
    }
}

.start-screen__octave-button {
    word-break: break-word;
    width: 100%;
}

.start-screen__q-count-button {
    flex: 1;
}

.start-screen__q-count-predefined {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.start-screen__start-button {
    outline: none;
    padding: 10px 20px;
    min-width: 250px;
    border: 2px solid #dddddd;
    background: #4caf50;
    cursor: pointer;
    transition: all 0.3s;
    color: #ffffff;
    font-weight: 600;
    font-size: 16px;
}

@media (hover: hover) {
    .start-screen__start-button:hover {
        background: rgb(15, 181, 126);
    }
}

.start-screen__start-button:active {
    background: rgb(20, 199, 139);
}

.start-screen__buttons-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 8px;
    width: 100%;
}

.start-screen__completed-button {
    width: auto;
    min-width: 200px;
    flex: 1;
}

.start-screen__home-button {
    background: transparent;
    color: #878787;
}

@media (hover: hover) {
    .start-screen__home-button:hover {
        color: #ffffff;
    }
}

.start-screen__octaves {
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 16px;
    flex-direction: column;
    max-width: 250px;
}

.start-screen__octave-buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    width: 100%;
}

.start-screen__octaves-wrapper {
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
}

.start-screen__octave-title {
    position: absolute;
    top: 50%;
    transform: translate(-120%, -50%);
    font-size: 50px;
    left: 0;
}

.start-screen__octave-button--active {
    border-color: #4caf50;
}
